@import '_reset.scss';

.header{
    background: url(../images/Hero.png) center no-repeat;
    margin: 0 auto;
    height: 380px;
    font-size: 40px;
    color: #FFF;

    h1{
        padding: 50px 0px;
        text-align: center;
    }

    .dropdown{
        display: block;
        margin: 0 auto;
        width: 400px;
        height: 40px;
        font-size: 20px;
        opacity: 0.8;
    }

    .hot{
        max-width: 900px;
        margin: 0 auto;
        position: relative;
        bottom: -150px;

    }
    .hot-text{
        background: #fff;
        margin: 0 auto;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0px 1px 3px 0px #000;
        
        
        h2{
            font-size: 18px;
            font-weight: bold;
            margin: 20px 10px;
            color: #000;
            text-align: start;
        }
    
        button{
            width: 120px;
            margin: 0 15px;
            margin-bottom: 15px;
        }
    
    }
    .line{
        text-align: center;
        hr{
            position: relative;    
            border: 2px dashed #559AC8;
            margin: 50px auto;
            bottom: -150px;
            width: 900px;
        }
        i{
            color: #559AC8;
            position: relative;
            bottom: -80px;       
        }        
    }

}
.main{
    margin-top: 150px;
    .main-title{
        text-align: center;
        font-size: 36px;
        color: #8A82CC;
        font-weight: bold;
        margin: 20px 0; 
    }
    >ul{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        max-width: 960px;
        margin:0 auto;

        li{
            margin-bottom: 10px;
            box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
            width: 464px;

            p{
                margin: 10px;

                img{
                    margin-right:10px;
                }
            }
        }

        div{
            width: 464px;
            height: 155px;
            background-size: 464px 155px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            color: #fff;

            h2{
                font-size: 24px;
                margin: 10px 10px;
            }

            p{
                margin: 10px 10px;
            }
        }
        .label{
            float: right;
        }
    }
    .page {
        
        ul{
            display: flex;
            justify-content: center;

            li{
                text-align: center;
                width: 60px;
                
                a{
                    display: block;
                    padding: 10px;
                    color: #4A4A4A;
                    font-size: 14px;
                    
                }
                a:hover{
                    color: #559AC8;

                }
            }           
        }
    }
}


.footer{
    background: #559AC8;
    text-align: center;
    font-size: 14px;
    padding: 10px;

    p{
        margin: 10px;
    }
}






